* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font: Helvetica, sans-serif;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

header {
  height: 50px;
  width: 100%;
  background-color: #333;
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}

nav {
  width: clamp(140px, 30%, 200px);
  background-color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: scroll;
}

.mediabox {
  position: relative;
  padding: 1em 0em;
  margin-top: 2em;
  height: 12em;
  width: 100%;
}
.mediabox #navleft {
  position: absolute;
  top: 50%;
  opacity: 0;
  transition: 1s;
  z-index: 1;
  height: 25px;
  width: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  left: 5px;
}
.mediabox #navright {
  position: absolute;
  top: 50%;
  opacity: 0;
  transition: 1s;
  z-index: 1;
  height: 25px;
  width: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  right: 5px;
}

#imageviewport {
  position: absolute;
  display: inline;
  width: 100%;
  height: 100%;
  top: 0;
  row-gap: 10px;
  padding: 1em 0em;
  scroll-behavior: smooth;
  transition: 2s;
  white-space: nowrap;
  overflow: hidden;
}

#imageviewport:hover {
  overflow-x: auto;
  transition: 0.3s;
}

.mediabox:hover #navleft {
  opacity: 1;
}
.mediabox:hover #navright {
  opacity: 1;
}

#imageviewport #images:nth-child(even) {
  background-color: white;
}

ion-icon {
  font-size: 1.5em;
}

#imageviewport::-webkit-scrollbar {
  height: 4px;
  background-color: #333;
}

#imageviewport::-webkit-scrollbar-thumb {
  background-color: #4dc2c2;
  border-radius: 10px;
}

#images {
  width: clamp(200px, 50%, 800px);
  height: 100%;
  display: inline-block;
  padding: 1em;
  background-color: #4dc2c2;
  overflow: auto;
}

.adbox {
  position: relative;
  padding: 1em 0em;
  margin-top: 2em;
  height: 20em;
  width: 100%;
}
.adbox #navleft {
  position: absolute;
  top: 50%;
  opacity: 0;
  transition: 1s;
  z-index: 1;
  height: 25px;
  width: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  left: 5px;
  opacity: 1;
}
.adbox #navright {
  position: absolute;
  top: 50%;
  opacity: 0;
  transition: 1s;
  z-index: 1;
  height: 25px;
  width: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  right: 5px;
  opacity: 1;
}
.adbox #advertviewport {
  position: absolute;
  display: inline;
  width: 100%;
  height: 100%;
  top: 0;
  row-gap: 10px;
  padding: 1em 0em;
  scroll-behavior: smooth;
  transition: 2s;
  white-space: nowrap;
  overflow: hidden;
}
.adbox #advertviewport .vados {
  width: clamp(200px, 50%, 800px);
  height: 100%;
  display: inline-block;
  padding: 1em;
  width: clamp(200px, 100%, 1200px);
  height: 100%;
  overflow: auto;
}
.adbox #advertviewport #vados-1 {
  background-color: rgb(172, 207, 4);
  color: white;
}
.adbox #advertviewport #vados-2 {
  background-color: rgb(247, 247, 247);
}
.adbox #advertviewport #vados-3 {
  background-color: bisque;
}
.adbox .vados-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.adbox .vados-wrapper .vados-left {
  width: clamp(200px, 35%, 350px);
  padding-left: 3%;
  white-space: normal;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.adbox .vados-wrapper .vados-left #vados-left-head {
  font-weight: 700;
  font-size: 1.5em;
}
.adbox .vados-wrapper .vados-left #vados-left-para {
  margin-top: 1em;
  font-size: 0.8em;
}
.adbox .vados-wrapper .vados-left a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  width: fit-content;
  border: solid 1px white;
  color: white;
  margin-top: 1em;
}
.adbox .vados-wrapper .vados-left ion-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.adbox .vados-wrapper .vados-right {
  width: clamp(300px, 65%, 700px);
}
.adbox #advertviewport::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 600px) {
  main {
    position: relative;
    flex-direction: column-reverse;
  }
  nav {
    height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.68);
  }
}

/*# sourceMappingURL=style.css.map */
